project/.vs/
*.sdf
*.opensdf
project/Release/
project/shader/Release/
project/shader/Debug/
project/ipch/
project/Debug/
project/Develop/
*.user
*.tlog
*.log
*.cache
*.lastbuildstate
*.suo
*.pdb
*.obj
*.idb
*.lib
*.enc
*.ilk
Debug/
